@using Microsoft.AspNetCore.Identity;
@using Microsoft.Extensions.DependencyInjection;
@{
    var userManage = Context.RequestServices.GetRequiredService<UserManager<IdentityUser>>();
    var signInManage = Context.RequestServices.GetRequiredService<SignInManager<IdentityUser>>();
    var currentUser = userManage.GetUserAsync(User).Result;

    ViewData["Title"] = "Index";
   
}
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="container-fluid">
    <h2> Product List</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Member Id</th>
                <th>Order Date</th>
                <th>Require Date</th>
                <th>Shipped Date</th>
                <th>Freight</th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        ShowAllOrders();

        function ShowAllOrders() {
            $("table tbody").html("");
            $.ajax({
                url: "https://localhost:5001/api/Orders",
                type: "get",
                contentType: "json",
                dataType: "json",
                success: function (result, status, xhr) {
                    $.each(result, function (index, value) {

                        $("tbody").append($("<tr>"));
                        appendElement = $("tbody tr").last();
                        appendElement.append($("<td>").html(value["orderId"]));
                        appendElement.append($("<td>").html(value["memberId"]));
                        appendElement.append($("<td>").html(value["orderDate"]));
                        appendElement.append($("<td>").html(value["requireDate"]));
                        appendElement.append($("<td>").html(value["shippedDate"]));
                        appendElement.append($("<td>").html(value["freight"]));
                        $("tbody").append(appendElement);
                    });
                },
                error: function (xhr, status, error) {
                    console.log(xhr);
                }
            });
        }
    });
</script>